@import 'normalize.css';

* {
	box-sizing: border-box;
}

.p-box {
	outline: 1px solid red;
	padding: 100px;
	margin: 20px;

	flex-basis: 0;
	min-width: 1px;
	flex-grow: 1;

	span {
		outline: 1px solid red;
		display: inline-block;
		height: 30px;
		width: 100px;
		line-height: 30px;
	}

	&__wrapper {
		display: flex;
		width: 100%;
		padding: 200px;
	}
}